link(rel="stylesheet" ,href="/css/footer.css")
footer
    div.main-footer
        .child-div
            img(src="/Images/fblogo.jpg")
            img(src="/Images/twitter.png")
            img(src="/Images/gmail.png")
        .child-div
            a(href="#") Our Team
            a(href="#") FAQ
            a(href="#") About Us
        .child-div
            a(href="#") Our Team
            a(href="#") FAQ
            a(href="#") About Us
        .child-div2
            p Hello welcome
    hr
    div.design
        p 
            b Designed and Created by :- Vivek Kumar
            img(src="/Images/gmail.png")#info
            b iamwewakekumar@gmail.com

