<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" ,href="/css/header.css")
        block styles

    body
        header
            nav
                ul
                    li
                        a(href="/") 
                            img(src="/images/slogo.jpg").logo
                    li
                        a(href="/add-products") Add Product
                    li
                        form(action="/" method="POST")
                            input(type="text" placeholder="Username" name="username")
                            input(type="password" placeholder="Password" name="password")
                            button(type="Submit") Login
        .item-header
            a(href="/groceries").active Groceries
            a(href="/groceries") Medicines
            a(href="/groceries") Vegetables
            a(href="/groceries") Fruits
            a(href="/groceries") Milk Products
        br
        .start
            block content