@media only screen and (min-width:680px)
{
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        grid-gap: 30px; 
        padding:10px;
      }
}


.card img
{
    height:200px;
    width:100%;
}

.card
{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
}


.button-container
{
    display:flex;
    justify-content: space-between;
}

@media only screen and (max-width: 400px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        padding: 20px;
      }
}

@media only screen and (max-width: 400px) 
{
    .card img
    {
        height:150px;
        width:100%;
    }
}