extends ../header.pug
block styles
    link(rel="stylesheet" href="/css/grid.css")
block content
    .grid-container
        each grocery in groceries
            .card
                img(src=grocery.imageURL)
                p Price Rs. #{grocery.price}
                .button-container
                    a(href=`/products/`+id)
                        button See Details
                    button Add to cart

    include ../footer.pug